body {
    margin: 0;
    font-family: niveau-grotesk, sans-serif;
}


nav ul li{
    display: flex;  
    flex-direction: row;
    justify-content: space-between;
    background-color: black;
}

nav ul {
    padding: 0 0 0 0;
    margin-top: 0;  
}


.logo {
    margin-left: 150px;
}


main section p {
    font-weight: 400;
    font-size: 40px;
    text-align: center;
    margin: 0;
    padding: 30px 0 70px 0;
}

main section img:first-of-type {
    width: 5%;
}

main section:nth-of-type(2) img {
    width: 100%;
}


main section:nth-of-type(3) ul {
    display: flex;
    width: 100%;
    background-color: white;
}

main section:nth-of-type(3) ul a {
    margin-left: 50px;
    font-size: 30px;
    
}


main section:nth-of-type(4) button {
    margin-left: 12.5%;
    border: 1px solid darkgrey; 
    font-size: 30px;
    background-color: white;
    padding: 40px 300px 40px 300px;
    
}

main section:nth-of-type(5) button {
    margin-top: 100px;
    margin-left: 12.5%;
    border: 1px solid darkgrey; 
    font-size: 30px;
    background-color: white;
    padding: 40px 220px 40px 200px;
    
}


main section:nth-of-type(6) ul{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2em; 
    padding: 0;
}

main section:nth-of-type(6) ul li{
    border: 1px solid darkgrey;
}

main section:nth-of-type(6) ul li a img{
    width: 15em;
}

