body {
    margin: 0;
    padding: 0;
    
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

/*********************Navigatie MostWantedNL************/
nav {
    position: fixed;
    top: 0;
}
nav ul li{
    display: flex;
    justify-content: space-around;
    background-color: black;
}

.logo {
    margin: .5em 10em 0 14em;
    width: 13em;
}

.menu {
    margin: 0 0 0 0;
    width: 8em;
}

nav ul li a {
    margin:0; padding:0;
}


nav ul li a img {
    width: 8em;
}


nav ul {
    padding: 0;
    margin-top: 0;  
    width: 100%;
}


/***************Start Main HTML**************/
/**************Banner zinnen onder de nav***********/
main section:first-of-type p {
    font-family: 'Heebo', sans-serif;
    font-weight: 700;
    font-size: 1.5em;
    text-align: center;
    padding: 6em 0 3em 0;
   
}



/************Vinkje banner zinnen********/
main section:first-of-type img {
    width: 1em;
    padding-right: 1em;
}



/******************Header img******************/
main section:nth-of-type(2) img {
    width: 100%;
}



/********************Breadcrumbs*******************/
main section:nth-of-type(3) ul {
    font-family: 'Heebo', sans-serif;
    display: flex;
    padding: 2em 2em 2em; 0;
    
}


main section:nth-of-type(3) ul a {
    font-size: 30px; 
    margin-left: 20px;
}




/*******************Button Filteren************/
main section:nth-of-type(4) button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px auto 50px auto;
    height: 4em;  width: 30em;
    
    font-size: 30px;
    background-color: white;
    border: 1px solid lightgrey; 
    
}



/*****************Button Sorteren****************/
main section:nth-of-type(5) button {
    display: flex;
    align-items: center;
    margin: 50px auto 50px auto;
    height: 4em;  width: 30em;
    font-size: 30px;
    background-color: white;
    border: 1px solid lightgrey;
    
}

main section:nth-of-type(5) button p {
    margin-left: 1em;
    
}

main section:nth-of-type(5) button img {
    margin-left: 15em;
    width: 1em;
}


main section:nth-of-type(6) {
    display: flex;
    justify-content: center;
    
    font-family: 'Heebo', sans-serif;
    font-size: 2em;

}

/********Lijst met kleding items********/
main section:nth-of-type(6) ul{
    position: absolute;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-content: center;
}


main section:nth-of-type(6) ul li{
    display: flex;
    justify-content: center;
    border: 0.5px solid darkgrey;
    height: 23em;
    
}

main section:nth-of-type(6) ul li h2 {
    position: absolute;
    bottom: 2em;
    font-family: 'Heebo', sans-serif;
    font-size: 1em;
    
}

main section:nth-of-type(6) ul li p {
    position: absolute;
    display: flex;
    bottom: 0;
    font-family: 'Heebo', sans-serif;
    font-size: 1em;
    align-items: center;
    
}

main section:nth-of-type(6) ul li img{
    position: relative;
    width: 13em;
    height: 13em;
    padding-top: 1em;
    
}

main section:nth-last-of-type(7) ul li {
    display: flex;
    justify-content: space-around;
}



/*footer section:first-of-type h1 {
    font-family: 'Lato', sans-serif;
    font-size: 100px;
    text-align: center;
    margin-bottom: 0;
    border-top: 1px solid black;
 
}

footer section:first-of-type p {

    font-size: 30px;
    margin: 0;
    text-align: center;
    margin-bottom: 3em;

}

.subscribe {
    display: flex;
    justify-content: center;
    font-size: 80px;
    color: white;
    background-color: black;
    padding: .5em;
}*/











