body {
    margin: 0;
    padding: 0;
    font-family: niveau-grotesk, sans-serif;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

nav {
    top: 0;
}

nav ul li{
    display: flex;  
    flex-direction: row;
    justify-content: space-between;
    background-color: black;
}

nav ul {
    padding: 0 0 0 0;
    margin-top: 0;  
    width: 100%;
}


.logo {
    margin-left: 150px;
}


main section p {
    font-weight: 400;
    font-size: 40px;
    text-align: center;
    padding-bottom: 1em;
   
}

main section img:first-of-type {
    width: 5%;
}


main section:nth-of-type(2) img {
    width: 100%;
    margin: 0;
}


main section:nth-of-type(3) ul {
    display: flex;
    width: 100%;
    background-color: white;
}


main section:nth-of-type(3) ul a {
    margin-left: 50px;
    font-size: 30px;
    
}


main section:nth-of-type(4) button {
    display: flex;
    justify-content: center;
    margin: auto;
    border: 1px solid darkgrey; 
    font-size: 30px;
    background-color: white;
    padding: 40px 300px 40px 300px;
    margin-bottom: 50px;
    margin-top: 50px;
    
}

main section:nth-of-type(5) button {
    display: flex;
    margin-bottom: 50px;
    margin: auto;
    border: 1px solid darkgrey; 
    font-size: 30px;
    background-color: white;
    padding: 40px 5px 40px 5px;
    
}

main section:nth-of-type(5) button img {
    display: flex;
    margin-left: 200px;     
}


main section:nth-of-type(6) {
    display: flex;
    justify-content: center;
}

main section:nth-of-type(6) ul{
    display: grid;
    grid-template-columns: 1fr 1fr;
}


main section:nth-of-type(6) ul li{
    border: 0.5px solid darkgrey;
    
}

main section:nth-of-type(6) ul li img{
    width: 20em;
    margin: 1em 5em 6em 5em;
    
}

main section:nth-of-type(8) ul {
    display: flex;
    justify-content: center;
   
}

main section:nth-of-type(8) ul li{
    margin-left: 3em;
    font-size: 2em;  
    border: 2px solid grey;
   
}

main section:nth-of-type(8) ul li:active{
    margin-left: 3em;
    font-size: 2em;  
    border: 5px solid black;
   
}

main section:nth-of-type(8) ul li a{
    color: black;
    margin: 3em 1em 3em 1em;
   
}



footer section:first-of-type h1 {
    font-family: 'Lato', sans-serif;
    font-size: 100px;
    text-align: center;
    margin-bottom: 0;
    border-top: 1px solid black;
 
}

footer section:first-of-type p {
    font-size: 30px;
    margin: 0;
    text-align: center;
    margin-bottom: 3em;

}











