body {
    padding:0; margin:0;

}
header {
    height: 8em;
}

ul {
     list-style-type: none;
}

/*Section schuiven en niet de lijst en in de section een knop aanmaken en daarmee position absolute werken en de section op position relative zetten de section moet ook fixed*/

/*****Hamburger Menu*****/
section:first-of-type ul {
    font-family: 'Roboto', sans-serif;
    background-color: white;
    width: 75%;
    margin:0; padding:0;
    
    position: fixed;
    /*Hoogte header DUS GEEF EEN HEIGHT*/
    top:8em; bottom:0;
    transform: translateX(-100%);

    transition: .3s;
    
    
}

section:first-of-type ul.toonUl {
    transform:translateX(0%);
}


section:first-of-type ul li {
    font-family: 'Roboto', sans-serif;
    border-bottom: 1px solid black;
    background-color: white;

}


section:first-of-type ul li a {
    font-family: 'Roboto', sans-serif;
    font-size: 2em;
    font-weight: 700;
    line-height: 4em;
    padding-left: 1.5em;

}


img {
    margin:0; padding:0;
    width: 8em;
}


/*****Nav*****/
nav {
    padding:0; margin:0;
    background-color: black;
    display: flex;
    justify-content: space-between;
}

.logo {
    margin-left: 15em;
    width: 12em;  
}

.search {
    margin-left: 11em;
}


/*****Timer*****/
main section:first-child img {
    width: 1em;
    padding-right: .5em;
}

main section:first-child p {
    display: flex;
    justify-content: center;
    align-content: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 2em;
    padding-bottom: 2em;  
}


/*****BannerImg*****/
.banner {
    width:100%;
    padding-bottom: 2em;
}


/*****Breadcrumbs*****/
main section:nth-of-type(3) ul {
    font-family: 'Heebo', sans-serif;
    display: flex;
    
}


main section:nth-of-type(3) ul a {
    font-size: 2em; 
    margin-left: .5em;
}

.active {
    color: darkgray;
}


/*****ButtonFilteren*****/
main section:nth-of-type(4) button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px auto 50px auto;
    height: 4em;  width: 30em;
    
    font-size: 30px;
    background-color: white;
    border: 1px solid lightgrey; 
    
}



/*****ButtonSorteren*****/
main section:nth-of-type(5) select {
    display: flex;
    align-items: center;
    margin: 50px auto 50px auto;
    height: 4em;  width: 30em;
    font-size: 30px;
    background-color: white;
    border: 1px solid lightgrey;
    
}


/*****GridKleding*****/
main section:nth-of-type(6) ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-family: 'Heebo', sans-serif;
}


main section:nth-of-type(7) ul li img {    
    order: -1;
}

main section:nth-of-type(7) ul li img p a {
    font-family: 'Heebo', sans-serif;
    font-size: 1em;
    width: 100%;
    order: 2;
}

main section:nth-of-type(7) ul li img p {
    font-family: 'Heebo', sans-serif;
    font-size: 1em;
    width: 100%;
    order: 3;
}


/*****Footer*****/

footer section h5 {
    font-family: 'Heebo', sans-serif;
    font-size: 6em;
    font-weight: 700;
    text-align: center;
    border-top: solid 2px black;
    margin-bottom: 0;
}

footer section p {
    font-family: 'Heebo', sans-serif;
    font-size: 3em;
    font-weight: 300;
    text-align: center;
    border-top: solid 1p black;
    margin:0; padding-left: 2em; padding-right:2em;
    padding-bottom: 2em;
}

footer section input {
    margin: 0 auto 50px auto;
    height: 2em;  width: 18em;
    font-size: 30px;
    display: flex;
    justify-content: center;
    background-color: white;
    border: 3px solid black; 
    
}

footer section input[placeholder] {
    font-size: 3em;
    text-align: center;
    color: black;
    
}

footer section button {
    font-weight: 700;
    font-size: 3em;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px auto 50px auto;
    height: 2em;  width: 18em;
    
}


/*****SectionFirstOfTypeFOOTER*****/
footer section:last-of-type {
    background-color: black;
}

footer section:last-of-type ul {
    padding-top: 3em;
    padding-bottom: 3em;
}


footer section:last-of-type ul li {
    line-height: 4em; 
}


footer section:last-of-type ul li a {
    font-family: 'Heebo', sans-serif;
    font-size: .75em;
    font-weight: 400;
    color: white;  
}

.bold {
    font-family: 'Heebo', sans-serif;
    font-size: .75em;
    font-weight: 700;
    color: white;   
}

footer section:last-of-type img {
    width: 80%;
    display: block;
    margin: auto;
}


.pay {
    width: 1em;
}
























